.bg-menusamping{
	background: linear-gradient(#fff, #72CF9B);
	font-family: 'Roboto', sans-serif;
}

.validasi-keg a {
	font-size: 10px;
}

.dash-valid a{
	text-decoration: none;
}

@media (min-width: 576px) {


	
 }
